<%- include("partials/header"); -%>

    <h1>Compose</h1>

    <form action="/compose" method="post">
        <div>
            <label for="composeExampleInput" class="form-label">Title</label>
            <input type="text" name="newTitle" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="form-group">
            <label for="composeExampleInput2" class="form-label">Post</label>
            <textarea type="text" name="newPost" class="form-control input-lg" rows="6"
                id="formGroupExampleInput">
            </textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>

    </form>




    <%- include("partials/footer"); -%>